@page
@model MyModel
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<div id="my-template">

<button class="m-8 bg-gray-300 rounded-full p-4 text-4xl font-bold text-gray-800 hover:bg-gray-400" 
v-on:click="goHome">

      ←
</button>



  <div class="flex justify-center mt-8">
    <div class="w-full max-w-md bg-white rounded-lg shadow-lg p-4">
      <h1 class="text-3xl font-bold text-center mb-4">Things To Do</h1>
      <hr>
<template v-if="todoList.length === 0">
  <div class="text-center mt-8">
    <h2 class="text-xl font-bold text-gray-400 text-muted">You don't have anything to do... yet.</h2>
  </div>
</template>





<ul class="flex-col flex mt-12">
  <li
    v-for="(item, index) in todoList"
    :key="index"
    class="cursor-pointer inline-block rounded-full bg-gray-200 py-1 px-3 mr-2 mb-2 relative"
  >
    <div class="flex items-center justify-between w-full">
      <div class="text-xl font-extrabold">{{ item }}</div>
      <div class="flex items-center gap-2">
        <button
          v-if="index > 0"
          class="p-2 rounded-full bg-gray-300 hover:bg-gray-400"
          v-on:click="moveItemUp(index)"
        >
          ⬆
        </button>
        <button
          v-if="index < todoList.length - 1"
          class="p-2 rounded-full bg-gray-300 hover:bg-gray-400"
          v-on:click="moveItemDown(index)"
        >
          ⬇
        </button>
        <button
          type="button"
          class="p-2 rounded-full bg-gray-300 hover:bg-red-500"
          v-on:click="removeItem(index)"
        >
          delete
        </button>
      </div>
    </div>
  </li>
</ul>


      <form class="mb-4"v-on:submit.prevent="addItem">
        <input
          v-model="newItem"
          type="text"
          class="my-6 block w-full p-2 rounded-lg mb-2 bg-gray-200 text-gray-600"
          placeholder="Add a new to-do item"
        />
        <button
          type="submit"
          class="mt-6 w-full p-2 rounded-lg bg-blue-500 text-white font-bold text-2xl"
        >
          Add
        </button>
      </form>
    </div>
  </div>
</div>

<script>
  new Vue({
    el: '#my-template',
    data: {
      todoList: ['Visit Copenhagen', 'Buy bread', 'Pet my cats'],
      newItem: '',
      
    },
    methods: {
      addItem() {
        // Add the new item to the list
        this.todoList.push(this.newItem)
        // Clear the input field
        this.newItem = ''
      },
      removeItem(index) {
        // Remove the item from the list
        this.todoList.splice(index, 1)
      },
       moveItemUp(index) {
    if (index > 0) {
      this.todoList.splice(index - 1, 0, this.todoList.splice(index, 1)[0])
    }
  },
  moveItemDown(index) {
    if (index < this.todoList.length - 1) {
      this.todoList.splice(index + 1, 0, this.todoList.splice(index, 1)[0])
    }
  },


  goHome(){
    window.location.href = '/';
  }
    }
  })
</script>

@functions {
  public class MyModel
  {
    // model code here
  }
}
